<h1><%= @user.name %>'s Profile</h1>
<p>Email: <%= @user.email %></p>
<%= link_to "Edit Profile", edit_user_registration_path %>

<h2>ABC分析結果</h2>
<% current_user.analysis_sessions.each do |session| %>
  <%= link_to session.title, analysis_session_path(session) %><br>
<% end %>

<%= link_to "Home", root_path %>
