<%= render 'shared/header' %>
<div class="masthead" style="background-image: url(<%= asset_pack_path 'media/images/analysis.jpg' %>);">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">

        <div class="card">
          <div class="card-header">
            <h1><%= @user.name %>プロフィール</h1>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th>Name</th>
                  <td><%= @user.name %></td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td><%= @user.email %></td>
                </tr>
              </tbody>
            </table>
            <%= link_to "Edit Profile", edit_user_registration_path, class: 'btn btn-primary' %>
          </div>
        </div>

        <div class="card mt-5">
          <div class="card-header">
            <h2>ABC分析結果</h2>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <% current_user.analysis_sessions.each do |session| %>
                <li class="list-group-item">
                  <%= link_to session.title, analysis_session_path(session) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="mt-3">
          <%= link_to "Home", root_path, class: 'btn btn-secondary' %>
        </div>

      </div>
    </div>
  </div>
</div>
