<%= render 'shared/header' %>
<div class="masthead" style="background-image: url(<%= asset_pack_path 'media/images/analysis.jpg' %>);">  
  <% if @item.present? %>
    <div class="container mt-4">
      <table class="table table-striped">
        <tr>
          <th>商品画像</th>
          <td colspan="2">
            <img src="<%= @item[:image][:medium] %>" alt="<%= @item[:name] %>" class="img-fluid">
          </td>
        </tr>
        <tr>
          <th>商品名</th>
          <td><%= @item[:name] %></td>
        </tr>
        <tr>
          <th>JANコード</th>
          <td><%= params[:jan_code] %></td>
        </tr>
        <tr>
          <th>価格</th>
          <td><%= @item[:price] %>円</td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= sanitize @item[:description] %></td>
        </tr>
        <tr>
          <th>商品URL</th>
          <td><%= link_to @item[:url], @item[:url], target: '_blank' %></td>
        </tr>
        <tr>
          <th>戻るリンク</th>
          <td><%= link_to '戻る', analysis_session_path(@analysis_session) %></td>
        </tr>
      </table>
    </div>
  <% else %>
    <div class="alert alert-warning" role="alert">
      商品情報が見つかりませんでした。
    </div>
  <% end %>
</div>
