<%= render 'shared/header' %>
<div class="masthead" style="background-image: url(https://abcanalysis.s3.ap-northeast-1.amazonaws.com/analysis.jpg);">
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-md-8 col-lg-6 pb-3">
        <div class="card">
          <div class="card-body">
            <table class="table mb-4">
              <tr class="text-center">
                <td><%= link_to 'Excelでダウンロード', analysis_session_report_path(@analysis_session, @report, format: :xlsx), class: 'btn btn-dark' %></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h2>ABC分析表</h2>
            <table class="table mb-4 table-striped table-bordered">
              <thead>
                <tr>
                  <th>JANコード</th>
                  <th>商品名</th>
                  <th>売上</th>
                  <th>累計売上</th>
                  <th>累計売上％</th>
                  <th>分類</th>
                </tr>
              </thead>
              <tbody>
                <% @abc_items.each do |item| %>
                  <tr>
                    <td><%= item.jan_code %></td>
                    <td><%= item.product_name %></td>
                    <td><%= item.sales %></td>
                    <td><%= item.cumulative_sales %></td>
                    <td><%= item.cumulative_percentage %></td>
                    <td><%= item.classification %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-6">
        <div class="card">
          <div class="card-body">
            <h2>レポート</h2>
            <hr>
            <p><strong>分析の概要</strong></p>
            <p class="pl-3"><%= simple_format(@report.overview) %></p>
            <hr>
            <p><strong>Aランクの傾向</strong></p>
            <p class="pl-3"><%= simple_format(@report.rank_a_trend) %></p>
            <hr>
            <p><strong>Bランクの傾向</strong></p>
            <p class="pl-3"><%= simple_format(@report.rank_b_trend) %></p>
            <hr>
            <p><strong>Cランクの傾向</strong></p>
            <p class="pl-3"><%= simple_format(@report.rank_c_trend) %></p>
            <hr>
          </div>
          <table class="table mb-4">
            <tr class="text-center">
              <%= link_to 'レポート修正', edit_analysis_session_report_path(@analysis_session, @report), class: 'btn btn-dark' %>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
